<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/show.css">
    <title>Notes App</title>
    <style>
        p.deleted{
            font-size: 2.5vw;
            margin: 0vw 0vw 0vw 0vw;
            color: lightgreen;
            line-height: 5.8vw;
        }

        @media only screen and (min-width: 300px) and (max-width: 1200px) {
         p.deleted{
            font-size: 5.2vw;
            line-height: 7.7vw;
            margin: 4vw 0vw 0vw 0vw;
         }
        }

        @media only screen and (min-width: 600px) and (max-width: 1200px) {
          p.deleted{
            line-height: 7vw;
          }
        }
    </style>
</head>
<body>

    <h2 class="notes-head"><a href="/">Back to Home Page</a></h2>
    <p class="deleted">File <%= filename%> deleted successfully.</p>

<script src="/js/script.js" defer></script>
</body>
</html>
