h2.notes-head a{
    text-decoration: none;
    color: lightsalmon;
    font-size: 2.1vw;
}

p.filename{
    font-size: 2.5vw;
    opacity: 0.8;
}

p.filedata{
    font-size: 1.6vw;
    line-height: 2.2vw;
    word-wrap: break-word; 
}

@media only screen and (min-width: 300px) and (max-width: 1200px) {

    h2.notes-head a{
        font-size: 4.8vw;
    }
    
    p.filename{
        font-size: 4.7vw;
        margin: 2.3vw 0vw 2vw 0vw;
    }
    
    p.filedata{
        font-size: 3.4vw;
        line-height: 5.4vw;
    }

}